{:ns "clojure.core.logic", :name "get-dom-fd", :file "clojure/core/logic.clj", :type :fn, :src "(defn get-dom-fd\n  [a x]\n  (if (lvar? x)\n    (get-dom a x ::fd)\n    x))", :column 1, :line 2310, :arglists ([a x])}