{:ns "clojure.core.logic", :name "run*", :file "clojure/core/logic.clj", :type :macro, :src "(defmacro run*\n  \"Executes goals until results are exhausted.\"\n  [bindings & goals]\n  `(-run {:occurs-check true :n false :db *logic-dbs*} ~bindings ~@goals))", :column 1, :line 1220, :macro true, :arglists ([bindings & goals]), :doc "Executes goals until results are exhausted."}