{:ns "cljs.core.logic.macros", :name "matcha", :file "cljs/core/logic/macros.clj", :type :macro, :src "(defmacro matcha\n  \"Define a soft cut pattern match. See conda.\"\n  [xs & cs]\n  (binding [*locals* (env-locals xs (-> &env :locals keys))]\n    (handle-clauses `conda xs cs)))", :column 1, :line 433, :macro true, :arglists ([xs & cs]), :doc "Define a soft cut pattern match. See conda."}