{:type :var, :src "(defprotocol IUnifyWithLVar\n  (unify-with-lvar [v u s]))", :doc nil, :ns "clojure.core.logic.minikanren", :name "IUnifyWithLVar", :file "clojure/core/logic/minikanren.clj", :column 1, :line 18}