{:ns "cljs.core.logic", :name "env-locals", :file "cljs/core/logic.clj", :type :fn, :src "(defn env-locals [& syms]\n  (disj (set (apply concat syms)) '_))", :column 1, :line 374, :arglists ([& syms])}