{:ns "clojure.core.logic", :name "nafc", :file "clojure/core/logic.clj", :type :fn, :src "(defn nafc\n  \"EXPERIMENTAL: negation as failure constraint. All arguments to the goal c\n   must be ground. If some argument is not ground the execution of this constraint\n   will be delayed.\"\n  [c & args]\n  (cgoal (-nafc c args)))", :column 1, :line 2704, :arglists ([c & args]), :doc "EXPERIMENTAL: negation as failure constraint. All arguments to the goal c\n   must be ground. If some argument is not ground the execution of this constraint\n   will be delayed."}