{:ns "clojure.core.logic.fd", :name "domain", :file "clojure/core/logic/fd.clj", :type :fn, :src "(defn domain\n  \"Construct a domain for assignment to a var. Arguments should \n   be integers given in sorted order. domains may be more efficient \n   than intervals when only a few values are possible.\"\n  [& args]\n  (when (seq args)\n    (sorted-set->domain (into (sorted-set) args))))", :column 1, :line 155, :arglists ([& args]), :doc "Construct a domain for assignment to a var. Arguments should \n   be integers given in sorted order. domains may be more efficient \n   than intervals when only a few values are possible."}