{:type :var, :src "(defprotocol LConsSeq\n  (lfirst [this])\n  (lnext [this]))", :doc nil, :ns "clojure.core.logic.protocols", :name "LConsSeq", :file "clojure/core/logic/protocols.clj", :column 1, :line 35}