{:ns "cljs.core.logic", :name "-run", :file "cljs/core/logic.clj", :type :macro, :src "(defmacro -run [opts [x :as bindings] & goals]\n  (if (> (count bindings) 1)\n    (let [[rbindings as-key [as]] (partition-by #{:as} bindings)]\n      (if (seq as-key)\n        `(-run ~opts [~as] (fresh [~@rbindings] (== ~as [~@rbindings]) ~@goals))\n        `(-run ~opts [q#] (fresh ~bindings (== q# ~bindings) ~@goals))))\n    `(let [opts# ~opts\n           xs# (cljs.core.logic/-take*\n                 (-inc\n                   ((fresh [~x] ~@goals\n                      (fn [a#]\n                        (cljs.core.logic/-reify a# ~x))) ;; TODO: do we need this?\n                    (with-meta cljs.core.logic/empty-s\n                      (merge {:reify-vars true} opts#)))))]\n       (if-let [n# (:n opts#)]\n         (take n# xs#)\n         xs#))))", :column 1, :line 66, :macro true, :arglists ([opts [x :as bindings] & goals])}