{:ns "clojure.core.logic.pldb", :name "db-retraction", :file "clojure/core/logic/pldb.clj", :type :fn, :src "(defn db-retraction [db rel & args]\n  (let [key\n        (rel-key rel)\n\n        retract-args\n        #(disj %1 args)\n\n        db-without-fact\n        (update-in db [key ::unindexed] retract-args)\n\n        indexes-to-update ;; also a bit ugly\n        (map vector (rel-indexes rel) (range) args)\n\n        remove-from-index-fn\n        (fn [db [is-indexed index-num val]]\n          (if is-indexed\n            (update-in db [key index-num val] retract-args)\n            db))]\n\n    (reduce remove-from-index-fn db-without-fact indexes-to-update)))", :column 1, :line 100, :arglists ([db rel & args])}