{:ns "clojure.core.logic.minikanren", :name "run*", :file "clojure/core/logic/minikanren.clj", :type :macro, :src "(defmacro run* [& rest]\n  `(run false ~@rest))", :column 1, :line 945, :macro true, :arglists ([& rest])}