{:ns "clojure.core.logic.minikanren", :name "trace-lvars", :file "clojure/core/logic/minikanren.clj", :type :macro, :src "(defmacro trace-lvars [title & lvars]\n  (let [a (gensym \"a\")]\n    `(fn [~a]\n       (println ~title)\n       ~@(map (partial trace-lvar a) lvars)\n       ~a)))", :column 1, :line 977, :macro true, :arglists ([title & lvars])}