{:ns "clojure.core.logic.minikanren", :name "==", :file "clojure/core/logic/minikanren.clj", :type :macro, :src "(defmacro == [u v]\n  `(fn [a#]\n     (if-let [b# (unify a# ~u ~v)]\n       b# nil)))", :column 1, :line 901, :macro true, :arglists ([u v])}