{:type :var, :src "(defprotocol ISuspendedStream\n  (ready? [this]))", :doc nil, :ns "clojure.core.logic.protocols", :name "ISuspendedStream", :file "clojure/core/logic/protocols.clj", :column 1, :line 102}