{:ns "clojure.core.logic", :name "sync-eset", :file "clojure/core/logic.clj", :type :fn, :src "(defn sync-eset [s v seenset f]\n  (if (not= seenset ::no-prop)\n    (reduce\n      (fn [s y]\n        (let [y (root-var s y)]\n          (if-not (contains? seenset y)\n            (f s y)\n            s)))\n      s\n      (:eset v))\n    s))", :column 1, :line 440, :arglists ([s v seenset f])}