{:ns "cljs.core.logic", :name "project-bindings", :file "cljs/core/logic.clj", :type :fn, :src "(defn project-bindings [vars s]\n  (reduce concat (map (project-binding s) vars)))", :column 1, :line 161, :arglists ([vars s])}