{:ns "clojure.core.logic", :name "add-var", :file "clojure/core/logic.clj", :type :fn, :src "(defn add-var [cs x c]\n  (when-not (lvar? x)\n    (throw (Error. (str \"constraint store assoc expected logic var key: \" x))))\n  (let [cm (:cm cs)\n        km (:km cs)\n        cid (:cid cs)\n        nkm (update-in km [x] (fnil (fn [s] (conj s cid)) #{}))\n        ncm (assoc cm cid c)]\n    (ConstraintStore. nkm ncm cid (:running cs))))", :column 1, :line 163, :arglists ([cs x c])}