{:ns "clojure.core.logic", :name "tabled", :file "clojure/core/logic.clj", :type :macro, :src "(defmacro tabled\n  \"Macro for defining a tabled goal. Prefer ^:tabled with the \n  defne/a/u forms over using this directly.\"\n  [args & grest]\n  `(let [table# (atom {})]\n     (fn [~@args]\n       (let [argv# ~args]\n         (fn [a#]\n           (let [key# (-reify a# argv#)\n                 cache# (get @table# key#)]\n             (if (nil? cache#)\n               (let [cache# (atom ())]\n                 (swap! table# assoc key# cache#)\n                 ((fresh []\n                    ~@grest\n                    (master argv# cache#)) a#))\n               (reuse a# argv# cache# nil nil))))))))", :column 1, :line 1826, :macro true, :arglists ([args & grest]), :doc "Macro for defining a tabled goal. Prefer ^:tabled with the \n  defne/a/u forms over using this directly."}