{:ns "clojure.core.logic.unifier", :name "unify", :file "clojure/core/logic/unifier.clj", :type :fn, :src "(defn unify\n  \"Unify the terms ts returning a the value that represents their\n   unificaiton. Will prep the terms.\"\n  ([ts] (unify {} ts))\n  ([opts ts]\n     (let [opts (if (contains? opts :as)\n                  (assoc opts :as\n                    (->> (:as opts)\n                      (map (fn [[k v]] [(lvar k false) (prep v)]))\n                      (into {})))\n                  opts)]\n       (unify* opts (map prep ts)))))", :column 1, :line 134, :arglists ([ts] [opts ts]), :doc "Unify the terms ts returning a the value that represents their\n   unificaiton. Will prep the terms."}