{:ns "clojure.core.logic.prelude", :name "sym-helper", :file "clojure/core/logic/prelude.clj", :type :fn, :src "(defn sym-helper [prefix n]\n  (symbol (str prefix n)))", :column 1, :line 104, :arglists ([prefix n])}