{:ns "clojure.core.logic", :name "permuteo", :file "clojure/core/logic.clj", :type :fn, :src "(defne permuteo\n  \"A relation that will permute xl into the yl. May not\n   terminate if xl is not ground.\"\n  [xl yl]\n  ([() ()])\n  ([[x . xs] _]\n     (fresh [ys]\n      (permuteo xs ys)\n      (rembero x yl ys))))", :column 1, :line 1753, :doc "A relation that will permute xl into the yl. May not\n   terminate if xl is not ground."}