{:ns "cljs.core.logic", :name "bind-conde-clauses", :file "cljs/core/logic.clj", :type :fn, :src "(defn bind-conde-clauses [a clauses]\n  (map (bind-conde-clause a) clauses))", :column 1, :line 17, :arglists ([a clauses])}