{:type :var, :src "(defprotocol IUnifyWithNil\n  (unify-with-nil [v u s]))", :doc nil, :ns "clojure.core.logic.minikanren", :name "IUnifyWithNil", :file "clojure/core/logic/minikanren.clj", :column 1, :line 12}