{:type :var, :src "(defprotocol IMemberCount\n  (member-count [this]))", :doc nil, :ns "clojure.core.logic.protocols", :name "IMemberCount", :file "clojure/core/logic/protocols.clj", :column 1, :line 182}