{:ns "clojure.core.logic", :name "table", :file "clojure/core/logic.clj", :type :fn, :src "(defn table\n  \"Function to table a goal. Useful when tabling should only persist\n  for the duration of a run.\"\n  [goal]\n  (let [table (atom {})]\n    (fn [& args]\n      (let [argv args]\n        (fn [a]\n          (let [key (-reify a argv)\n                cache (get @table key)]\n            (if (nil? cache)\n              (let [cache (atom ())]\n                (swap! table assoc key cache)\n                ((fresh []\n                   (apply goal args)\n                   (master argv cache)) a))\n              (reuse a argv cache nil nil))))))))", :column 1, :line 1743, :arglists ([goal]), :doc "Function to table a goal. Useful when tabling should only persist\n  for the duration of a run."}