{:ns "clojure.core.logic", :name "partial-map", :file "clojure/core/logic.clj", :type :fn, :src "(defn partial-map\n  \"Given map m, returns partial map that unifies with maps even if it\n   doesn't share all of the keys of that map.\"\n  [m]\n  (map->PMap m))", :column 1, :line 2623, :arglists ([m]), :doc "Given map m, returns partial map that unifies with maps even if it\n   doesn't share all of the keys of that map."}