{:ns "clojure.core.logic.dcg", :name "handle-cclause", :file "clojure/core/logic/dcg.clj", :type :fn, :src "(defn handle-cclause [fsym osym cclause]\n  (let [c (count-clauses cclause)\n        r (range 2 (clojure.core/inc c))\n        lsyms (conj (into [fsym] (map lsym r)) osym)\n        clauses (mark-clauses cclause)\n        clauses (handle-clauses lsyms clauses)]\n    `(exist [~@(butlast (rest lsyms))]\n       ~@clauses)))", :column 1, :line 102, :arglists ([fsym osym cclause])}