{:ns "clojure.core.logic.fd", :name "->fd", :file "clojure/core/logic/fd.clj", :type :fn, :src "(defn ->fd [vars exprs]\n  `(fresh [~@vars]\n     ~@(reverse exprs)))", :column 1, :line 1147, :arglists ([vars exprs])}