{:ns "clojure.core.logic.fd", :name "interval", :file "clojure/core/logic/fd.clj", :type :fn, :src "(defn interval\n  \"Construct an interval for an assignment to a var. intervals may\n   be more efficient that the domain type when the range of possiblities\n   is large.\"\n  ([ub] (IntervalFD. 0 ub))\n  ([lb ub]\n     (if (zero? (core/- ub lb))\n       ub\n       (IntervalFD. lb ub))))", :column 1, :line 376, :arglists ([ub] [lb ub]), :doc "Construct an interval for an assignment to a var. intervals may\n   be more efficient that the domain type when the range of possiblities\n   is large."}