{:ns "clojure.core.logic.dcg", :name "def-->e", :file "clojure/core/logic/dcg.clj", :type :macro, :src "(defmacro def-->e [name args & pcss]\n  (let [fsym (gensym \"l1_\")\n        osym (gensym \"o\")]\n   `(defne ~name [~@args ~fsym ~osym]\n      ~@(map (fn [[p & cs]]\n               (list (-> p (conj '_) (conj '_))\n                     (handle-cclause fsym osym cs)))\n             pcss))))", :column 1, :line 117, :macro true, :arglists ([name args & pcss])}