{:ns "clojure.core.logic", :name "matche", :file "clojure/core/logic.clj", :type :macro, :src "(defmacro matche\n  \"Pattern matching macro. All patterns will be tried.\n  See conde.\"\n  [xs & cs]\n  (binding [*locals* (env-locals xs (keys &env))]\n    (handle-clauses `conde xs cs)))", :column 1, :line 1666, :macro true, :arglists ([xs & cs]), :doc "Pattern matching macro. All patterns will be tried.\n  See conde."}