{:ns "clojure.core.logic", :name "fna", :file "clojure/core/logic.clj", :type :macro, :src "(defmacro fna\n  \"Define an anonymous soft cut goal. See conda.\"\n  [& rest]\n  `(fnm conda ~@rest))", :column 1, :line 1683, :macro true, :arglists ([& rest]), :doc "Define an anonymous soft cut goal. See conda."}