{:ns "clojure.core.logic.unify", :name "binding-map*", :file "clojure/core/logic/unify.clj", :type :fn, :src "(defn binding-map* [u w]\n  \"Return the binding map that unifies terms u and w.\n  u and w should prepped terms.\"\n  (let [lvars (merge (-> u meta :lvars)\n                     (-> w meta :lvars))\n        s (mk/unify mk/empty-s u w)]\n    (when s\n      (into {} (map (fn [[k v]]\n                      [k (mk/reify s v)])\n                    lvars)))))", :column 1, :line 67, :arglists ([u w])}