{:ns "clojure.core.logic", :name "run-constraints*", :file "clojure/core/logic.clj", :type :fn, :src "(defn run-constraints* [xs cs ws]\n  (if (or (zero? (count cs))\n          (nil? (seq xs)))\n    s#\n    (fn [a]\n      (let [xcs (constraints-for cs a (first xs) ws)]\n        (if (seq xcs)\n          ((composeg*\n            (run-constraints xcs)\n            (run-constraints* (next xs) cs ws)) a)\n          ((run-constraints* (next xs) cs ws) a))))))", :column 1, :line 2080, :arglists ([xs cs ws])}