{:ns "clojure.core.logic.minikanren", :name "solve", :file "clojure/core/logic/minikanren.clj", :type :macro, :src "(defmacro solve [& [n [x] & g-rest]]\n  `(let [xs# (take* (fn []\n                      ((exist [~x] ~@g-rest\n                         (fn [a#]\n                           (cons (reify a# ~x) '()))) ;; TODO: do we need this?\n                       empty-s)))]\n     (if ~n\n       (take ~n xs#)\n       xs#)))", :column 1, :line 930, :macro true, :arglists ([& [n [x] & g-rest]])}