{:ns "clojure.core.logic", :name "distribute", :file "clojure/core/logic.clj", :type :fn, :src "(defn distribute [v* strategy]\n  (fn [a]\n    (add-attr a v* ::strategy ::ff)))", :column 1, :line 2248, :arglists ([v* strategy])}