{:ns "clojure.core.logic.prelude", :name "defne", :file "clojure/core/logic/prelude.clj", :type :macro, :src "(defmacro defne [& rest]\n  \"Define a goal fn. Supports pattern matching. All\n   patterns will be tried. See conde.\"\n  (apply match/defnm `conde rest))", :column 1, :line 38, :macro true, :arglists ([& rest])}