{:ns "clojure.core.logic", :name "cgoal", :file "clojure/core/logic.clj", :type :fn, :src "(defn cgoal [c]\n  (reify\n    clojure.lang.IFn\n    (invoke [_ a]\n      (let [c' (-step c a)]\n        (if (-runnable? c')\n          (when-let [a (c' a)]\n            (let [c' (-step c a)]\n              (if (and (ientailed? c')\n                       (not (entailed? c c' a)))\n                ((addcg c) a)\n                a)))\n          ((addcg c) a))))\n    IUnwrapConstraint\n    (-unwrap [_] c)))", :column 1, :line 2166, :arglists ([c])}