{:ns "clojure.core.logic.prelude", :name "fact", :file "clojure/core/logic/prelude.clj", :type :fn, :src "(defn fact [rel & tuple]\n  \"Add a fact to a relation defined with defrel.\"\n  (facts rel [(vec tuple)]))", :column 1, :line 243, :arglists ([rel & tuple])}