{:ns "clojure.core.logic", :name "reify-constraints", :file "clojure/core/logic.clj", :type :fn, :src "(defn reify-constraints [v r a]\n  (let [cs  (:cs  a)\n        rcs (->> (vals (:cm cs))\n                 (filter reifiable?)\n                 (map #(reifyc % v r a))\n                 (filter #(not (nil? %)))\n                 (into #{}))]\n    (if (empty? rcs)\n      (choice (list v) empty-f)\n      (choice (list `(~v :- ~@rcs)) empty-f))))", :column 1, :line 2272, :arglists ([v r a])}