{:ns "clojure.core.logic", :name "fail", :file "clojure/core/logic.clj", :type :fn, :src "(defn fail\n  \"A goal that always fails.\"\n  [a] nil)", :column 1, :line 1137, :arglists ([a]), :doc "A goal that always fails."}