{:type :var, :src "(defprotocol ISubstitutions\n  (length [this])\n  (occurs-check [this u v])\n  (ext [this u v])\n  (ext-no-check [this u v])\n  (swap [this cu])\n  (constrain [this u c])\n  (get-var [this v])\n  (use-verify [this f])\n  (walk [this v])\n  (walk-var [this v])\n  (walk* [this v])\n  (unify [this u v])\n  (reify-lvar-name [_])\n  (-reify* [this v])\n  (-reify [this v])\n  (build [this u]))", :doc nil, :ns "clojure.core.logic", :name "ISubstitutions", :file "clojure/core/logic.clj", :column 1, :line 101}