{:ns "clojure.core.logic", :name "run-constraint", :file "clojure/core/logic.clj", :type :fn, :src "(defn run-constraint [c]\n  (fn [a]\n    (if (or (not (irelevant? c)) (relevant? c a))\n      (if (runnable? c a)\n        ((composeg* (runcg c) c (stopcg c)) a)\n        a)\n      ((remcg c) a))))", :column 1, :line 2180, :arglists ([c])}