{:ns "cljs.core.logic.macros", :name "run*", :file "cljs/core/logic/macros.clj", :type :macro, :src "(defmacro run*\n  \"Executes goals until results are exhausted.\"\n  [& goals]\n  `(run false ~@goals))", :column 1, :line 81, :macro true, :arglists ([& goals]), :doc "Executes goals until results are exhausted."}