{:type :fn, :src "(deftype SuspendedStream [cache ansv* f]\n  ISuspendedStream\n  (ready? [this]\n          (not= @cache ansv*)))", :ns "clojure.core.logic.tabled", :name "->SuspendedStream", :file "clojure/core/logic/tabled.clj", :column 1, :line 16, :arglists ([cache ansv* f]), :doc "Positional factory function for class clojure.core.logic.tabled.SuspendedStream."}