{:ns "clojure.core.logic", :name "ifa*", :file "clojure/core/logic.clj", :type :macro, :src "(defmacro ifa*\n  ([])\n  ([[e & gs] & grest]\n     `(ifa ~e [~@gs]\n           ~(if (seq grest)\n              `(delay (ifa* ~@grest))\n              nil))))", :column 1, :line 1340, :macro true, :arglists ([] [[e & gs] & grest])}