{:type :var, :src "(defprotocol IVerifyConstraint\n  (-verify [c a cs]))", :doc nil, :ns "clojure.core.logic.protocols", :name "IVerifyConstraint", :file "clojure/core/logic/protocols.clj", :column 1, :line 177}