{:ns "clojure.core.logic", :name "subst-val", :file "clojure/core/logic.clj", :type :fn, :src "(defn subst-val\n  ([x] (SubstValue. x nil nil))\n  ([x doms] (SubstValue. x doms nil))\n  ([x doms _meta] (with-meta (SubstValue. x doms nil) _meta))\n  ([x doms eset _meta] (with-meta (SubstValue. x doms eset) _meta)))", :column 1, :line 205, :arglists ([x] [x doms] [x doms _meta] [x doms eset _meta])}