{:ns "clojure.core.logic.fd", :name "bounded-listo", :file "clojure/core/logic/fd.clj", :type :fn, :src "(defne bounded-listo\n  \"Ensure that the list l never grows beyond bound n.\n   n must have been assigned a domain.\"\n  [l n]\n  ([() _] (<= 0 n))\n  ([[h . t] n]\n     (fresh [m]\n       (in m (interval 0 Integer/MAX_VALUE))\n       (+ m 1 n)\n       (bounded-listo t m))))", :column 1, :line 1112, :arglists ([l n]), :doc "Ensure that the list l never grows beyond bound n.\n   n must have been assigned a domain."}