{:ns "clojure.core.logic.bench", :name "dinesmanfd", :file "clojure/core/logic/bench.clj", :type :fn, :src "(defn dinesmanfd []\n  (run* [baker cooper fletcher miller smith :as vs]\n    (fd/distinct vs)\n    (everyg #(fd/in % (fd/interval 1 5)) vs)\n    (fd/!= baker 5) (fd/!= cooper 1)\n    (fd/!= fletcher 5) (fd/!= fletcher 1)\n    (fd/< cooper miller) \n    (not-adjacento smith fletcher)\n    (not-adjacento fletcher cooper)))", :column 1, :line 412, :arglists ([])}