{:ns "clojure.core.logic", :name "lvar", :file "clojure/core/logic.clj", :type :fn, :src "(defn ^LVar lvar\n  ([]\n     (let [name (str (. clojure.lang.RT (nextID)))]\n       (LVar. name (.hashCode name) nil nil)))\n  ([name]\n     (let [name (str name \"_\" (. clojure.lang.RT (nextID)))]\n       (LVar. name (.hashCode name) nil nil)))\n  ([name cs]\n     (let [name (str name \"_\" (. clojure.lang.RT (nextID)))]\n       (LVar. name (.hashCode name) cs nil))))", :column 1, :line 298, :tag clojure.core.logic.LVar, :arglists ([] [name] [name cs])}