{:ns "cljs.core.logic", :name "run*", :file "cljs/core/logic.clj", :type :macro, :src "(defmacro run*\n  \"Executes goals until results are exhausted.\"\n  [bindings & goals]\n  `(-run {:occurs-check true :n false :db cljs.core.logic/*logic-dbs*}\n     ~bindings ~@goals))", :column 1, :line 90, :macro true, :arglists ([bindings & goals]), :doc "Executes goals until results are exhausted."}