{:ns "cljs.core.logic.macros", :name "trace-s", :file "cljs/core/logic/macros.clj", :type :macro, :src "(defmacro trace-s\n  \"Goal that prints the current substitution\"\n  []\n  `(fn [a#]\n     (println (str a#))\n     a#))", :column 1, :line 132, :macro true, :arglists ([]), :doc "Goal that prints the current substitution"}