{:ns "clojure.core.logic", :name "empty-s", :file "clojure/core/logic.clj", :type :var, :src "(def ^Substitutions empty-s (make-s {} '()))", :column 1, :line 227, :tag clojure.core.logic.Substitutions}