{:ns "clojure.core.logic", :name "cgoal", :file "clojure/core/logic.clj", :type :fn, :src "(defn cgoal [c]\n  (reify\n    clojure.lang.IFn\n    (invoke [_ a]\n      (if (runnable? c a)\n        (when-let [a (c a)]\n          (if (and (irelevant? c) (relevant? c a))\n            ((addcg c) a)\n            a))\n        ((addcg c) a)))\n    IUnwrapConstraint\n    (unwrap [_] c)))", :column 1, :line 2289, :arglists ([c])}