{:ns "clojure.core.logic.prelude", :name "defrel-helper", :file "clojure/core/logic/prelude.clj", :type :fn, :src "(defn defrel-helper [name arity args]\n  (let [r (range 1 (+ arity 2))\n        arity-excs (fn [n] `(arity-exc-helper '~name ~n))]\n    (if (seq args)\n      `(do\n         (def ~name (~'clojure.core.logic.prelude.Rel. '~name (atom {}) nil ~@(map arity-excs r)))\n         (extend-rel ~name ~@args))\n      `(def ~name (~'clojure.core.logic.prelude.Rel. '~name (atom {}) nil ~@(map arity-excs r))))))", :column 1, :line 94, :arglists ([name arity args])}