{:ns "clojure.core.logic.nonrel", :name "project-binding", :file "clojure/core/logic/nonrel.clj", :type :fn, :src "(defn project-binding [s]\n  (fn [var]\n    `(~var (walk ~s ~var))))", :column 1, :line 10, :arglists ([s])}