{:ns "clojure.core.logic", :name "add-dom", :file "clojure/core/logic.clj", :type :fn, :src "(defn add-dom\n  ([s x dom domv]\n     (let [x (root-var s x)]\n       (add-dom s x dom domv nil)))\n  ([s x dom domv seenset]\n     (let [v (root-val s x)\n           s (if (subst-val? v)\n               (update-var s x (assoc-dom v dom domv))\n               (let [v (if (lvar? v) ::unbound v)]\n                 (ext-no-check s x (subst-val v {dom domv}))))]\n       (sync-eset s v seenset\n         (fn [s y] (add-dom s y dom domv (conj (or seenset #{}) x)))))))", :column 1, :line 467, :arglists ([s x dom domv] [s x dom domv seenset])}