{:ns "clojure.core.logic.fd", :name "process-dom", :file "clojure/core/logic/fd.clj", :type :fn, :src "(defn process-dom\n  \"If x is a var we update its domain. If it's an integer\n   we check that it's a member of the given domain. dom is\n   then new domain, it should have already been calculated from\n   domp which was the previous domain.\"\n  [x dom domp]\n  (fn [a]\n    (when dom\n      (cond\n       (lvar? x) (resolve-storable-dom a x dom domp)\n       (-member? dom x) a\n       :else nil))))", :column 1, :line 613, :arglists ([x dom domp]), :doc "If x is a var we update its domain. If it's an integer\n   we check that it's a member of the given domain. dom is\n   then new domain, it should have already been calculated from\n   domp which was the previous domain."}