{:ns "clojure.core.logic.bench", :name "safefd", :file "clojure/core/logic/bench.clj", :type :fn, :src "(defn safefd []\n  (run* [c1 c2 c3 c4 c5 c6 c7 c8 c9 :as vs]\n    (everyg #(fd/in % (fd/interval 1 9)) vs)\n    (fd/distinct vs)\n    (fd/eq\n     (= (- c4 c6) c7)\n     (= (* c1 c2 c3) (+ c8 c9))\n     (< (+ c2 c3 c6) c8)\n     (< c9 c8))\n    (project [vs]\n      (everyg (fn [[v n]] (fd/!= v n))\n        (map vector vs (range 1 10))))))", :column 1, :line 849, :arglists ([])}