{:ns "clojure.core.logic", :name "treec", :file "clojure/core/logic.clj", :type :fn, :src "(defn treec [x fc reifier]\n  (fixc x\n    (fn loop [t a reifier]\n      (if (tree-term? t)\n        (composeg*\n          (fc t)\n          (constrain-tree t\n            (fn [t a] ((fixc t loop reifier) a))))\n        (fc t)))\n    reifier))", :column 1, :line 2721, :arglists ([x fc reifier])}