{:ns "clojure.core.logic.unify", :name "lvarq-sym?", :file "clojure/core/logic/unify.clj", :type :fn, :src "(defn lvarq-sym? [s]\n  (and (symbol? s) (= (first (str s)) \\?)))", :column 1, :line 6, :arglists ([s])}