{:ns "clojure.core.logic", :name "run-db", :file "clojure/core/logic.clj", :type :macro, :src "(defmacro run-db\n  \"Executes goals until a maximum of n results are found. Uses a specified logic database.\"\n  [n db bindings & goals]\n  `(-run {:occurs-check true :n ~n :db (flatten [~db])} ~bindings ~@goals))", :column 1, :line 1218, :macro true, :arglists ([n db bindings & goals]), :doc "Executes goals until a maximum of n results are found. Uses a specified logic database."}