{:ns "clojure.core.logic.fd", :name "-domc", :file "clojure/core/logic/fd.clj", :type :fn, :src "(defn -domc [x]\n  (reify\n    IEnforceableConstraint\n    clojure.lang.IFn\n    (invoke [this s]\n      (when (member? (get-dom s x) (walk s x))\n        (rem-dom s x ::l/fd)))\n    IConstraintOp\n    (rator [_] `domc)\n    (rands [_] [x])\n    IRelevant\n    (-relevant? [this s]\n      (not (nil? (get-dom s x))))\n    IRunnable\n    (runnable? [this s]\n      (not (lvar? (walk s x))))\n    IConstraintWatchedStores\n    (watched-stores [this] #{::l/subst})))", :column 1, :line 709, :arglists ([x])}