{:ns "clojure.core.logic.fd", :name "-domc", :file "clojure/core/logic/fd.clj", :type :fn, :src "(defn -domc [x]\n  (reify\n    IEnforceableConstraint\n    IConstraintStep\n    (-step [this s]\n      (let [xv (walk s x)\n            xd (-> (root-val s x) :doms ::l/fd)]\n        (reify\n          clojure.lang.IFn\n          (invoke [_ s]\n            (if xd\n              (when (-member? xd xv)\n                (rem-dom s x ::l/fd))\n              s))\n          IEntailed\n          (-entailed? [_]\n            (nil? xd))\n          IRunnable\n          (-runnable? [_]\n            (not (lvar? xv))))))\n    IConstraintOp\n    (-rator [_] `domc)\n    (-rands [_] [x])\n    IConstraintWatchedStores\n    (-watched-stores [this] #{::l/subst})))", :column 1, :line 689, :arglists ([x])}