{:ns "clojure.core.logic", :name "run-nc", :file "clojure/core/logic.clj", :type :macro, :src "(defmacro run-nc\n  \"Executes goals until a maximum of n results are found. Does not\n   occurs-check.\"\n  [n bindings & goals]\n  `(-run {:occurs-check false :n ~n :db *logic-dbs*} ~bindings ~@goals))", :column 1, :line 1235, :macro true, :arglists ([n bindings & goals]), :doc "Executes goals until a maximum of n results are found. Does not\n   occurs-check."}