{:ns "clojure.core.logic", :name "everyg", :file "clojure/core/logic.clj", :type :fn, :src "(defn everyg\n  \"A pseudo-relation that takes a coll and ensures that the goal g\n   succeeds on every element of the collection.\"\n  [g coll]\n  (fn [a]\n    (let [coll (walk a coll)]\n      (((fn everyg* [g coll]\n          (if (seq coll)\n            (all\n             (g (first coll))\n             (everyg* g (next coll)))\n            s#)) g coll) a))))", :column 1, :line 1677, :arglists ([g coll]), :doc "A pseudo-relation that takes a coll and ensures that the goal g\n   succeeds on every element of the collection."}