{:ns "clojure.core.logic.match", :name "p->llist", :file "clojure/core/logic/match.clj", :type :fn, :src "(defn p->llist [p]\n  `(llist\n    ~@(map p->term\n           (remove #(contains? '#{.} %) p))))", :column 1, :line 17, :arglists ([p])}