{:ns "clojure.core.logic.arithmetic", :name ">=", :file "clojure/core/logic/arithmetic.clj", :type :macro, :src "(defmacro >= [x y]\n  `(fn [a#]\n     (let [wx# (walk a# ~x)\n           wy# (walk a# ~y)]\n       (if (clojure.core/>= wx# wy# )\n         a# nil))))", :column 1, :line 21, :macro true, :arglists ([x y])}