{:ns "clojure.core.logic.minikanren", :name "pass-verify", :file "clojure/core/logic/minikanren.clj", :type :fn, :src "(defn ^Substitutions pass-verify [^Substitutions s u v]\n  (Substitutions. (assoc (.s s) u v)\n                  (cons (pair u v) (.l s))\n                  (.verify s)\n                  (.cs s)))", :column 1, :line 211, :tag clojure.core.logic.minikanren.Substitutions, :arglists ([s u v])}