{:ns "clojure.core.logic.bench", :name "cryptarithfd-1", :file "clojure/core/logic/bench.clj", :type :fn, :src "(defn cryptarithfd-1 []\n  (run-nc* [s e n d m o r y :as q]\n    (fd/in s e n d m o r y (fd/interval 0 9))\n    (fd/distinct q)\n    (distribute q ::l/ff)\n    (fd/!= m 0) (fd/!= s 0)\n    (fd/eq\n      (=             (+ (* 1000 s) (* 100 e) (* 10 n) d\n                        (* 1000 m) (* 100 o) (* 10 r) e)\n         (+ (* 10000 m) (* 1000 o) (* 100 n) (* 10 e) y)))))", :column 1, :line 316, :arglists ([])}