{:ns "clojure.core.logic", :name "condu", :file "clojure/core/logic.clj", :type :macro, :src "(defmacro condu [& clauses]\n  \"Committed choice. Once the head (first goal) of a clause \n  has succeeded, remaining goals of the clause will only\n  be run once. Non-relational.\"\n  (let [a (gensym \"a\")]\n    `(fn [~a]\n       (ifu* ~@(map (cond-clauses a) clauses)))))", :column 1, :line 1211, :macro true, :arglists ([& clauses])}