{:ns "clojure.core.logic.unifier", :name "unify*", :file "clojure/core/logic/unifier.clj", :type :fn, :src "(defn unify*\n  \"Unify the terms ts.\"\n  ([ts] (unify* {} ts))\n  ([opts ts]\n     (let [init-s (init-s opts empty-s)]\n       (-unify*\n         (vary-meta init-s assoc :reify-vars false)\n         (reduce #(-unify* init-s %1 %2) (butlast ts))\n         (last ts)))))", :column 1, :line 109, :arglists ([ts] [opts ts]), :doc "Unify the terms ts."}