{:ns "clojure.core.logic", :name "add-attr", :file "clojure/core/logic.clj", :type :fn, :src "(defn add-attr [s x attr attrv]\n  (let [x (root-var s x)\n        v (root-val s x)]\n    (if (subst-val? v)\n      (update-var s x (assoc-meta v attr attrv))\n      (let [v (if (lvar? v) ::unbound v)]\n        (ext-no-check s x (with-meta (subst-val v) {attr attrv}))))))", :column 1, :line 432, :arglists ([s x attr attrv])}