{:ns "clojure.core.logic.bench", :name "sudokufd", :file "clojure/core/logic/bench.clj", :type :fn, :src "(defn sudokufd [hints]\n  (let [vars (repeatedly 81 lvar)\n        rows (->rows vars)\n        cols (->cols rows)\n        sqs  (->squares rows)]\n    (run-nc 1 [q]\n      (== q vars)\n      ;;(distribute q ::l/ff)\n      (everyg #(fd/in % (fd/domain 1 2 3 4 5 6 7 8 9)) vars)\n      (init vars hints)\n      (everyg fd/distinct rows)\n      (everyg fd/distinct cols)\n      (everyg fd/distinct sqs))))", :column 1, :line 640, :arglists ([hints])}