{:ns "clojure.core.logic", :name "-reify*", :file "clojure/core/logic.clj", :type :fn, :src "(defn -reify* [s v]\n  (let [v (walk s v)]\n    (reify-term v s)))", :column 1, :line 259, :arglists ([s v])}