{:ns "clojure.core.logic.bench", :name "sort-dwellers", :file "clojure/core/logic/bench.clj", :type :fn, :src "(defn sort-dwellers [[fa _] [fb _]]\n  (cond (< fa fb) -1 (= fa fb) 0 :else 1))", :column 1, :line 427, :arglists ([[fa _] [fb _]])}