{:type :var, :src "(defprotocol IEntailedVar\n  (-entailed-var? [c x]))", :doc nil, :ns "clojure.core.logic.protocols", :name "IEntailedVar", :file "clojure/core/logic/protocols.clj", :column 1, :line 146}