{:type :var, :src "(defprotocol IConstraintStep\n  (-step [c s]))", :doc nil, :ns "clojure.core.logic.protocols", :name "IConstraintStep", :file "clojure/core/logic/protocols.clj", :column 1, :line 135}