{:ns "clojure.core.logic", :name "appendo", :file "clojure/core/logic.clj", :type :fn, :src "(defne appendo \n  \"A relation where x, y, and z are proper collections, \n  such that z is x appended to y\"\n  [x y z]\n  ([() _ y])\n  ([[a . d] _ [a . r]] (appendo d y r)))", :column 1, :line 1671, :arglists ([x y z]), :doc "A relation where x, y, and z are proper collections, \n  such that z is x appended to y"}