{:ns "clojure.core.logic", :name "make-ss", :file "clojure/core/logic.clj", :type :fn, :src "(defn ^SuspendedStream make-ss [cache ansv* f]\n  {:pre [(instance? clojure.lang.Atom cache)\n         (list? ansv*)\n         (fn? f)]}\n  (SuspendedStream. cache ansv* f))", :column 1, :line 1691, :tag clojure.core.logic.SuspendedStream, :arglists ([cache ansv* f])}