{:ns "clojure.core.logic.fd", :name "-domc", :file "clojure/core/logic/fd.clj", :type :fn, :src "(defn -domc [x]\n  (reify\n    IEnforceableConstraint\n    clojure.lang.IFn\n    (invoke [this s]\n      (let [dom (-> (root-val s x) :doms ::l/fd)]\n        (when (member? dom (walk s x))\n          (rem-dom s x ::l/fd))))\n    IConstraintOp\n    (rator [_] `domc)\n    (rands [_] [x])\n    IRelevant\n    (-relevant? [this s]\n      (let [dom (-> (root-val s x) :doms ::l/fd)]\n        (not (nil? dom))))\n    IRunnable\n    (runnable? [this s]\n      (not (lvar? (walk s x))))\n    IConstraintWatchedStores\n    (watched-stores [this] #{::l/subst})))", :column 1, :line 713, :arglists ([x])}