{:ns "clojure.core.logic.bench", :name "all-connected-to-allo", :file "clojure/core/logic/bench.clj", :type :fn, :src "(defne all-connected-to-allo\n  \"Collect all cliques in l. l must be bounded to ensure\n   termination.\"\n  [l]\n  ([()])\n  ([[h . t]]\n     (connected-to-allo h t)\n     (all-connected-to-allo t)))", :column 1, :line 143, :arglists ([l]), :doc "Collect all cliques in l. l must be bounded to ensure\n   termination."}