{:ns "clojure.core.logic.unifier", :name "prep", :file "clojure/core/logic/unifier.clj", :type :fn, :src "(defn prep\n  \"Prep a quoted expression. All symbols preceded by ? will\n  be replaced with logic vars.\"\n  [expr]\n  (let [lvars (atom #{})\n        prepped (cond\n                  (lvarq-sym? expr) (lvar expr false)\n\n                  (lcons-expr? expr)\n                  (prep* expr lvars true)\n\n                  :else (doall (walk-term expr (replace-lvar lvars))))]\n    (with-meta prepped {::lvars @lvars})))", :column 1, :line 55, :arglists ([expr]), :doc "Prep a quoted expression. All symbols preceded by ? will\n  be replaced with logic vars."}