{:ns "clojure.core.logic.fd", :name "*", :file "clojure/core/logic/fd.clj", :type :fn, :src "(defn *\n  \"A finite domain constraint for multiplication and\n   thus division. x, y & product must be eventually be given \n   domains if vars.\"\n  [x y product]\n  (cgoal (*c x y product)))", :column 1, :line 973, :arglists ([x y product]), :doc "A finite domain constraint for multiplication and\n   thus division. x, y & product must be eventually be given \n   domains if vars."}