{:ns "clojure.core.logic.minikanren", :name "uai", :file "clojure/core/logic/minikanren.clj", :type :macro, :src "(defmacro uai\n  [& args]\n  (if (resolve 'unchecked-add-int)\n    `(unchecked-add-int ~@args)\n    `(unchecked-add ~@args)))", :column 1, :line 328, :macro true, :arglists ([& args])}