{:ns "cljs.core.logic.macros", :name "trace-lvar", :file "cljs/core/logic/macros.clj", :type :fn, :src "(defn trace-lvar [a lvar]\n  `(println (format \"%5s = %s\" (str '~lvar) (-reify ~a ~lvar))))", :column 1, :line 129, :arglists ([a lvar])}