{:ns "clojure.core.logic", :name "unifier", :file "clojure/core/logic.clj", :type :fn, :src "(defn unifier\n  \"Unify the terms u and w. Will prep the terms.\"\n  [u w]\n  {:pre [(not (lcons? u))\n         (not (lcons? w))]}\n  (let [up (prep u)\n        wp (prep w)]\n    (unifier* up wp)))", :column 1, :line 1022, :arglists ([u w]), :doc "Unify the terms u and w. Will prep the terms."}