{:ns "clojure.core.logic", :name "assoc-dom", :file "clojure/core/logic.clj", :type :fn, :src "(defn assoc-dom [x k v]\n  (assoc x :doms (assoc (:doms x) k v)))", :column 1, :line 30, :arglists ([x k v])}