{:ns "clojure.core.logic.fd", :name "+", :file "clojure/core/logic/fd.clj", :type :fn, :src "(defn +\n  \"A finite domain constraint for addition and subtraction.\n   x, y & sum must eventually be given domains if vars.\"\n  [x y sum]\n  (cgoal (+c x y sum)))", :column 1, :line 897, :arglists ([x y sum]), :doc "A finite domain constraint for addition and subtraction.\n   x, y & sum must eventually be given domains if vars."}