{:ns "clojure.core.logic.prelude", :name "matcha", :file "clojure/core/logic/prelude.clj", :type :macro, :src "(defmacro matcha [xs & cs]\n  \"Define a soft cut pattern match. See conda.\"\n  (match/handle-clauses 'clojure.core.logic.nonrel/conda xs cs))", :column 1, :line 62, :macro true, :arglists ([xs & cs])}