{:ns "clojure.core.logic", :name "ground-term?", :file "clojure/core/logic.clj", :type :fn, :src "(defn ground-term? [x s]\n  (letfn [(-ground-term? [x s]\n            (let [x (walk s x)]\n              (if (lvar? x)\n                (throw fk)\n                (walk-term x\n                  (fn [x]\n                    (let [x (walk s x)]\n                      (cond\n                        (lvar? x) (throw fk)\n                        (tree-term? x) (-ground-term? x s)\n                        :else x)))))))]\n    (try\n      (-ground-term? x s)\n      true\n      (catch Exception e\n        false))))", :column 1, :line 2703, :arglists ([x s])}