{:ns "clojure.core.logic.prelude", :name "defna", :file "clojure/core/logic/prelude.clj", :type :macro, :src "(defmacro defna [& rest]\n  (apply match/defnm 'clojure.core.logic.nonrel/conda rest))", :column 1, :line 51, :macro true, :arglists ([& rest])}