{:ns "clojure.core.logic.nonrel", :name "project-bindings", :file "clojure/core/logic/nonrel.clj", :type :fn, :src "(defn project-bindings [vars s]\n  (reduce concat (map (project-binding s) vars)))", :column 1, :line 14, :arglists ([vars s])}