{:ns "clojure.core.logic", :name "-fnm", :file "clojure/core/logic.clj", :type :macro, :src "(defmacro -fnm [fn-gen t as & cs]\n  (binding [*locals* (env-locals as (keys &env))]\n     `(~fn-gen [~@as] ~(handle-clauses t as cs))))", :column 1, :line 1607, :macro true, :arglists ([fn-gen t as & cs])}