{:ns "clojure.core.logic.fd", :name "disjoint?*", :file "clojure/core/logic/fd.clj", :type :fn, :src "(defn disjoint?* [is js]\n  (if (disjoint? (interval (lb is) (ub is))\n                 (interval (lb js) (ub js)))\n      true\n      (let [d0 (intervals is)\n            d1 (intervals js)]\n        (loop [d0 d0 d1 d1]\n          (if (nil? d0)\n            true\n            (let [i (first d0)\n                  j (first d1)]\n              (cond\n               (or (interval-< i j) (disjoint? i j)) (recur (next d0) d1)\n               (interval-> i j) (recur d0 (next d1))\n               :else false)))))))", :column 1, :line 466, :arglists ([is js])}