{:ns "clojure.core.logic", :name "resto", :file "clojure/core/logic.clj", :type :fn, :src "(defn resto [l d]\n  \"rest as a relation.\"\n  (fresh [a]\n    (== (lcons a d) l)))", :column 1, :line 1363, :arglists ([l d])}