{:ns "clojure.core.logic", :name "dissoc-meta", :file "clojure/core/logic.clj", :type :fn, :src "(defn dissoc-meta [x k]\n  (with-meta x (dissoc (meta x) k)))", :column 1, :line 21, :arglists ([x k])}