{:ns "clojure.core.logic.bench", :name "do-send-moolao", :file "clojure/core/logic/bench.clj", :type :fn, :src "(defne do-send-moolao [q l ll]\n  ([[send more money] _ _]\n     (fresh [s e n d m o r y\n             l1 l2 l3 l4 l5 l6 l7 l8 l9]\n       (first-digito s l l1)\n       (first-digito m l1 l2)\n       (digito e l2 l3)\n       (digito n l3 l4)\n       (digito d l4 l5)\n       (digito o l5 l6)\n       (digito r l6 l7)\n       (digito y l7 l8)\n       (project [s e n d m o r y]\n         (== send (+ (* s 1000) (* e 100) (* n 10) d))\n         (== more (+ (* m 1000) (* o 100) (* r 10) e))\n         (== money (+ (* m 10000) (* o 1000) (* n 100) (* e 10) y))\n         (project [send more]\n           (== money (+ send more)))))))", :column 1, :line 283}