{:type :var, :src "(defprotocol IWithConstraintId\n  (-with-id [this id]))", :doc nil, :ns "clojure.core.logic.protocols", :name "IWithConstraintId", :file "clojure/core/logic/protocols.clj", :column 1, :line 136}