{:type :var, :src "(defprotocol IRelevantVar\n  (-relevant-var? [this x]))", :doc nil, :ns "clojure.core.logic.protocols", :name "IRelevantVar", :file "clojure/core/logic/protocols.clj", :column 1, :line 162}