{:type :fn, :src "(defrecord SuspendedStream [cache ansv* f]\n  ISuspendedStream\n  (ready? [this]\n    (not (identical? (:ansl @cache) ansv*))))", :ns "clojure.core.logic", :name "map->SuspendedStream", :file "clojure/core/logic.clj", :column 1, :line 2003, :arglists ([m__6206__auto__]), :doc "Factory function for class clojure.core.logic.SuspendedStream, taking a map of keywords to field values."}