{:ns "cljs.core.logic.pldb", :name "with-db", :file "cljs/core/logic/pldb.clj", :type :macro, :src "(defmacro with-db [db & body]\n  `(binding [cljs.core.logic/*logic-dbs* (conj cljs.core.logic/*logic-dbs* ~db)]\n     ~@body))", :column 1, :line 10, :macro true, :arglists ([db & body])}