{:ns "clojure.core.logic.fd", :name "in", :file "clojure/core/logic/fd.clj", :type :macro, :src "(defmacro in\n  \"Assign vars to domain. The domain must come last.\"\n  [& xs-and-dom]\n  (let [xs (butlast xs-and-dom)\n        dom (last xs-and-dom)\n        domsym (gensym \"dom_\")]\n    `(let [~domsym ~dom]\n      (fresh []\n        ~@(map (fn [x]\n                 `(dom ~x ~domsym))\n               xs)))))", :column 1, :line 665, :macro true, :arglists ([& xs-and-dom]), :doc "Assign vars to domain. The domain must come last."}