{:ns "clojure.core.logic", :name "!=", :file "clojure/core/logic.clj", :type :macro, :src "(defmacro !=\n  \"Impose a disequality constraint on u and v. If the two\n  terms ever unify will result in failure. u and v can be\n  compound terms allowing complex conditions to require\n  failure.\"\n  [u v]\n  `(fn [a#]\n     (!=-verify a# (unify a# ~u ~v))))", :column 1, :line 2077, :macro true, :arglists ([u v]), :doc "Impose a disequality constraint on u and v. If the two\n  terms ever unify will result in failure. u and v can be\n  compound terms allowing complex conditions to require\n  failure."}