{:ns "clojure.core.logic.unifier", :name "prep", :file "clojure/core/logic/unifier.clj", :type :fn, :src "(defn prep\n  \"Prep a quoted expression. All symbols preceded by ? will\n  be replaced with logic vars.\"\n  [expr]\n  (let [lvars (atom {})\n        prepped (cond\n                  (lvarq-sym? expr) (proc-lvar expr lvars)\n\n                  (lcons-expr? expr)\n                  (prep* expr lvars true)\n\n                  :else (walk-term expr (replace-lvar lvars)))]\n    (if (instance? clojure.lang.IMeta prepped)\n      (with-meta prepped {::lvars (keys @lvars)})\n      prepped)))", :column 1, :line 54, :arglists ([expr]), :doc "Prep a quoted expression. All symbols preceded by ? will\n  be replaced with logic vars."}