{:ns "clojure.core.logic", :name "rembero", :file "clojure/core/logic.clj", :type :fn, :src "(defne rembero\n  \"A relation between l and o where x is removed from\n   l exactly one time.\"\n  [x l o]\n  ([_ [x . xs] xs])\n  ([_ [y . ys] [y . zs]]\n     (!= y x)\n     (rembero x ys zs)))", :column 1, :line 2483, :arglists ([x l o]), :doc "A relation between l and o where x is removed from\n   l exactly one time."}