{:ns "clojure.core.logic", :name "get-dom", :file "clojure/core/logic.clj", :type :fn, :src "(defn get-dom [s x dom]\n  (let [v (root-val s x)]\n    (cond\n      (subst-val? v) (let [v' (:v v)]\n                       (if (not= v' ::unbound)\n                         v'\n                         (-> v :doms dom)))\n      (not (lvar? v)) v\n      ;; :else ::no-dom ;; NOTE: this doesn't work, some assumptions about nil - David\n      )))", :column 1, :line 494, :arglists ([s x dom])}