{:type :var, :src "(defprotocol IUnwrapConstraint\n  (unwrap [c]))", :doc nil, :ns "clojure.core.logic.protocols", :name "IUnwrapConstraint", :file "clojure/core/logic/protocols.clj", :column 1, :line 176}