{:ns "clojure.core.logic.minikanren", :name "trace-s", :file "clojure/core/logic/minikanren.clj", :type :macro, :src "(defmacro trace-s []\n  `(fn [a#]\n     (println (str a#))\n     a#))", :column 1, :line 986, :macro true, :arglists ([])}