{:ns "clojure.core.logic.arithmetic", :name "<=", :file "clojure/core/logic/arithmetic.clj", :type :macro, :src "(defmacro <=\n  \"Goal for testing whether x is less than or equal to y.\n  Non-relational.\"\n  [x y]\n  `(fn [a#]\n     (let [wx# (walk a# ~x)\n           wy# (walk a# ~y)]\n       (if (clojure.core/<= wx# wy#)\n         a# nil))))", :column 1, :line 43, :macro true, :arglists ([x y]), :doc "Goal for testing whether x is less than or equal to y.\n  Non-relational."}