{:ns "clojure.core.logic", :name "llist", :file "clojure/core/logic.clj", :type :macro, :src "(defmacro llist\n  \"Constructs a sequence from 2 or more arguments, with the last argument as the\n   tail. The tail is improper if the last argument is a logic variable.\"\n  ([f s] `(lcons ~f ~s))\n  ([f s & rest] `(lcons ~f (llist ~s ~@rest))))", :column 1, :line 854, :macro true, :arglists ([f s] [f s & rest]), :doc "Constructs a sequence from 2 or more arguments, with the last argument as the\n   tail. The tail is improper if the last argument is a logic variable."}