{:ns "clojure.core.logic.bench", :name "connected-db", :file "clojure/core/logic/bench.clj", :type :var, :src "(def connected-db\n  (pldb/db\n   [connected [[1 2] [1 5]]]\n   [connected [[2 1] [2 3] [2 5]]]\n   [connected [[3 2] [3 4]]]\n   [connected [[4 3] [4 5] [4 6]]]\n   [connected [[5 1] [5 2] [5 4]]]\n   [connected [[6 4]]]))", :column 1, :line 117}