{:ns "clojure.core.logic", :name "lcons", :file "clojure/core/logic.clj", :type :fn, :src "(defn lcons\n  \"Constructs a sequence a with an improper tail d if d is a logic variable.\"\n  [a d]\n  (if (or (coll? d) (nil? d))\n    (cons a (seq d))\n    (LCons. a d -1 nil)))", :column 1, :line 447, :arglists ([a d]), :doc "Constructs a sequence a with an improper tail d if d is a logic variable."}