{:type :var, :src "(defprotocol IUnifyWithPMap\n  (unify-with-pmap [pmap u s]))", :doc nil, :ns "clojure.core.logic.protocols", :name "IUnifyWithPMap", :file "clojure/core/logic/protocols.clj", :column 1, :line 221}