{:type :fn, :src "(deftype Pair [lhs rhs]\n  clojure.lang.Counted\n  (count [_] 2)\n  clojure.lang.Indexed\n  (nth [_ i] (case i\n                   0 lhs\n                   1 rhs\n                   (throw (IndexOutOfBoundsException.))))\n  (nth [_ i not-found] (case i\n                             0 lhs\n                             1 rhs\n                             not-found))\n  IPair\n  (lhs [_] lhs)\n  (rhs [_] rhs)\n  java.util.Map$Entry\n  (getKey [_] lhs)\n  (getValue [_] rhs)\n  Object\n  (toString [_]\n    (str \"(\" lhs \" . \" rhs \")\")))", :ns "clojure.core.logic", :name "->Pair", :file "clojure/core/logic.clj", :column 1, :line 73, :arglists ([lhs rhs]), :doc "Positional factory function for class clojure.core.logic.Pair."}