{:ns "clojure.core.logic", :name "is", :file "clojure/core/logic.clj", :type :macro, :src "(defmacro is\n  \"Set the value of a var to value of another var with the operation\n   applied. Non-relational.\"\n  [u v op]\n  `(project [~v]\n     (== ~u (~op ~v))))", :column 1, :line 1078, :macro true, :arglists ([u v op]), :doc "Set the value of a var to value of another var with the operation\n   applied. Non-relational."}