{:ns "clojure.core.logic.prelude", :name "conso", :file "clojure/core/logic/prelude.clj", :type :fn, :src "(defn conso [a d l]\n  \"The cons operation as a relation. Can be used to\n  construct a list or destructure one.\"\n  (== (lcons a d) l))", :column 1, :line 20, :arglists ([a d l])}