{:ns "clojure.core.logic", :name "mplus*", :file "clojure/core/logic.clj", :type :macro, :src "(defmacro mplus*\n  ([e] e)\n  ([e & e-rest]\n     `(mplus ~e (fn [] (mplus* ~@e-rest)))))", :column 1, :line 766, :macro true, :arglists ([e] [e & e-rest])}