{:ns "clojure.core.logic", :name "unify", :file "clojure/core/logic.clj", :type :fn, :src "(defn unify [s u v]\n  (if (identical? u v)\n    s\n    (let [u  (walk s u)\n          v  (walk s v)]\n      ;; TODO: we can't use an identical? check here at the moment\n      ;; because we add metadata on vars in walk - David\n      (if (and (lvar? u) (= u v))\n        s\n        (if (and (not (lvar? u)) (lvar? v))\n          (unify-terms v u s)\n          (unify-terms u v s))))))", :column 1, :line 221, :arglists ([s u v])}