{:ns "clojure.core.logic", :name "run*", :file "clojure/core/logic.clj", :type :macro, :src "(defmacro run*\n  \"Executes goals until results are exhausted.\"\n  [& goals]\n  `(run false ~@goals))", :column 1, :line 885, :macro true, :arglists ([& goals]), :doc "Executes goals until results are exhausted."}