{:ns "clojure.core.logic.minikanren", :name "trace-lvar", :file "clojure/core/logic/minikanren.clj", :type :fn, :src "(defn trace-lvar [a lvar]\n  `(println (format \"%5s = %s\" (str '~lvar) (reify ~a ~lvar))))", :column 1, :line 971, :arglists ([a lvar])}