{:ns "clojure.core.logic.fd", :name "==", :file "clojure/core/logic/fd.clj", :type :fn, :src "(defn ==\n  \"A finite domain constraint. u and v must be equal. u and v must\n   eventually be given domains if vars.\"\n  [u v]\n  (cgoal (==c u v)))", :column 1, :line 749, :arglists ([u v]), :doc "A finite domain constraint. u and v must be equal. u and v must\n   eventually be given domains if vars."}