{:ns "clojure.core.logic.bench", :name "checko", :file "clojure/core/logic/bench.clj", :type :fn, :src "(defne checko [ws sl r n]\n  ;; if ws is empty, the first element of r must be n\n  ([() _ [a . _] a])\n  ;; otherwise we check the first weight\n  ([[w . wr] _ _ _]\n     (fresh [nsl nr]\n       ;; check the first weight with subchecko\n       (subchecko w sl r nr n)\n       ;; if it succeeds we add w to the new stone list\n       (conso w sl nsl)\n       ;; check remaining weights\n       (checko wr nsl nr n))))", :column 1, :line 522}