{:ns "clojure.core.logic", :name "member1o", :file "clojure/core/logic.clj", :type :fn, :src "(defne member1o\n  \"Like membero but uses to disequality further constraining\n   the results. For example, if x and l are ground and x occurs\n   multiple times in l, member1o will succeed only once.\"\n  [x l]\n  ([_ [x . tail]])\n  ([_ [head . tail]]\n    (!= x head)\n    (member1o x tail)))", :column 1, :line 1762, :arglists ([x l]), :doc "Like membero but uses to disequality further constraining\n   the results. For example, if x and l are ground and x occurs\n   multiple times in l, member1o will succeed only once."}