{:ns "cljs.core.logic", :name "handle-clauses", :file "cljs/core/logic.clj", :type :fn, :src "(defn handle-clauses [t as cs]\n  `(~t\n    ~@(doall (map (handle-clause as) cs))))", :column 1, :line 330, :arglists ([t as cs])}