{:ns "clojure.core.logic.disequality", :name "prefix", :file "clojure/core/logic/disequality.clj", :type :fn, :src "(defn prefix [s <s]\n  (if (= s <s)\n    ()\n    (cons (first s) (prefix (rest s) <s))))", :column 1, :line 12, :arglists ([s <s])}