{:ns "clojure.core.logic", :name "walk-record-term", :file "clojure/core/logic.clj", :type :fn, :src "(defn walk-record-term [v f]\n  (with-meta\n    (loop [v v r (-uninitialized v)]\n      (if (seq v)\n        (let [[vfk vfv] (first v)]\n          (recur (next v) (assoc r (walk-term (f vfk) f)\n                                 (walk-term (f vfv) f))))\n        r))\n    (meta v)))", :column 1, :line 941, :arglists ([v f])}