{:ns "clojure.core.logic.minikanren", :name "make-s", :file "clojure/core/logic/minikanren.clj", :type :fn, :src "(defn ^Substitutions make-s\n  ([m l] (Substitutions. m l pass-verify nil))\n  ([m l f] (Substitutions. m l f nil))\n  ([m l f cs] (Substitutions. m l f cs)))", :column 1, :line 217, :tag clojure.core.logic.minikanren.Substitutions, :arglists ([m l] [m l f] [m l f cs])}