{:type :var, :src "(defprotocol IRel\n  (setfn [this arity f])\n  (indexes-for [this arity])\n  (add-indexes [this arity index]))", :doc nil, :ns "clojure.core.logic.prelude", :name "IRel", :file "clojure/core/logic/prelude.clj", :column 1, :line 139}