{:ns "clojure.core.logic.fd", :name "list-sorted?", :file "clojure/core/logic/fd.clj", :type :fn, :src "(defn list-sorted? [pred ls]\n  (if (empty? ls)\n    true\n    (loop [f (first ls) ls (next ls)]\n      (if ls\n        (let [s (first ls)]\n         (if (pred f s)\n           (recur s (next ls))\n           false))\n        true))))", :column 1, :line 1028, :arglists ([pred ls])}