{:ns "clojure.core.logic", :name "run-constraint", :file "clojure/core/logic.clj", :type :fn, :src "(defn run-constraint [c]\n  (fn [a]\n    (let [c' (-step c a)]\n      (if (or (not (ientailed? c'))\n              (not (entailed? c c' a)))\n        (if (-runnable? c')\n          ((composeg* (runcg c) c' (stopcg c)) a)\n          a)\n        ((remcg c) a)))))", :column 1, :line 2070, :arglists ([c])}