{:ns "clojure.core.logic.bench", :name "magic", :file "clojure/core/logic/bench.clj", :type :fn, :src "(defn magic [n]\n  (let [g     (magic-grid n)\n        nums  (range 1 (inc (* n n)))\n        ndom  (fd/interval 1 (* n n))\n        lsum  (/ (apply + nums) n)\n        rows  (partition n g)\n        lines (concat\n                [(magic-diag n rows)\n                 (magic-diag n (map reverse rows))]\n                rows\n                (magic-cols n g))]\n    (run* [q]\n      (== q g)\n      (everyg #(fd/in % ndom) q)\n      (distribute q ::l/ff)\n      (fd/distinct q)\n      (everyg #(magic-sum % lsum) lines))))", :column 1, :line 909, :arglists ([n])}