{:ns "clojure.core.logic.fd", :name "multi-interval", :file "clojure/core/logic/fd.clj", :type :fn, :src "(defn multi-interval\n  ([] nil)\n  ([i0] i0)\n  ([i0 i1]\n     (let [is [i0 i1]]\n       (MultiIntervalFD. (reduce min (map lb is)) (reduce max (map ub is)) is)))\n  ([i0 i1 & ir]\n     (let [is (into [] (concat (list i0 i1) ir))]\n       (MultiIntervalFD. (reduce min (map lb is)) (reduce max (map ub is)) is))))", :column 1, :line 592, :arglists ([] [i0] [i0 i1] [i0 i1 & ir])}