{:ns "clojure.core.logic", :name "binding-map", :file "clojure/core/logic.clj", :type :fn, :src "(defn binding-map\n  \"Return the binding map that unifies terms u and w.\n  Will prep the terms.\"\n  ([u w]\n     {:pre [(not (lcons? u))\n            (not (lcons? w))]}\n     (let [up (prep u)\n           wp (prep w)]\n       (binding-map* up wp)))\n  ([u w & ts]\n     (apply binding-map (binding-map u w) ts)))", :column 1, :line 1048, :arglists ([u w] [u w & ts]), :doc "Return the binding map that unifies terms u and w.\n  Will prep the terms."}