{:ns "clojure.core.logic.minikanren", :name "inc", :file "clojure/core/logic/minikanren.clj", :type :macro, :src "(defmacro inc [& rest]\n  `(fn inc [] ~@rest))", :column 1, :line 829, :macro true, :arglists ([& rest])}