{:type :var, :src "(defprotocol IConstraintWatchedStores\n  (-watched-stores [c]))", :doc nil, :ns "clojure.core.logic.protocols", :name "IConstraintWatchedStores", :file "clojure/core/logic/protocols.clj", :column 1, :line 167}