{:ns "clojure.core.logic", :name "make-c", :file "clojure/core/logic.clj", :type :fn, :src "(defn ^Constraint make-c [m]\n  (let [name (str \"constraint-\" (. clojure.lang.RT (nextID)))]\n    (Constraint. name m (keys m) (.hashCode name))))", :column 1, :line 1949, :tag clojure.core.logic.Constraint, :arglists ([m])}