{:ns "clojure.core.logic.minikanren", :name "unbound", :file "clojure/core/logic/minikanren.clj", :type :var, :src "(def ^Unbound unbound (Unbound.))", :column 1, :line 53, :tag clojure.core.logic.minikanren.Unbound}