{:ns "clojure.core.logic.fd", :name "normalize-intervals", :file "clojure/core/logic/fd.clj", :type :fn, :src "(defn normalize-intervals [is]\n  (reduce (fn [r i]\n            (if (zero? (count r))\n              (conj r i)\n              (let [j (peek r)\n                    jmax (ub j)\n                    imin (lb i)]\n                (if (core/<= (dec imin) jmax)\n                  (conj (pop r) (interval (lb j) (ub i)))\n                  (conj r i)))))\n          [] is))", :column 1, :line 579, :arglists ([is])}