{:type :var, :src "(defprotocol IUnifyTerms\n  (unify-terms [u v s]))", :doc nil, :ns "clojure.core.logic.protocols", :name "IUnifyTerms", :file "clojure/core/logic/protocols.clj", :column 1, :line 21}