{:ns "cljs.core.logic", :name "warn", :file "cljs/core/logic.clj", :type :fn, :src "(defn warn [& msg]\n  (binding [*out* *err*]\n    (apply println \"WARNING:\" msg)))", :column 1, :line 237, :arglists ([& msg])}