{:ns "cljs.core.logic.macros", :name "run-nc", :file "cljs/core/logic/macros.clj", :type :macro, :src "(defmacro run-nc\n  \"Executes goals until a maximum of n results are found. Does not\n   occurs-check.\"\n  [n bindings & goals]\n  `(-run {:occurs-check false :n ~n :db cljs.core.logic/*logic-dbs*} ~bindings ~@goals))", :column 1, :line 106, :macro true, :arglists ([n bindings & goals]), :doc "Executes goals until a maximum of n results are found. Does not\n   occurs-check."}