{:ns "clojure.core.logic", :name "conso", :file "clojure/core/logic.clj", :type :fn, :src "(defn conso\n  \"A relation where l is a collection, such that a is the first of l \n  and d is the rest of l\"\n  [a d l]\n  (== (lcons a d) l))", :column 1, :line 1371, :arglists ([a d l]), :doc "A relation where l is a collection, such that a is the first of l \n  and d is the rest of l"}