{:type :fn, :src "(deftype Choice [a f]\n  IBind\n  (bind [this g]\n    (mplus (g a) (inc (bind f g))))\n  IMPlus\n  (mplus [this fp]\n    (Choice. a (fn [] (mplus (fp) f))))\n  ITake\n  (take* [this]\n    (lazy-seq (cons (first a) (lazy-seq (take* f))))))", :ns "clojure.core.logic.minikanren", :name "->Choice", :file "clojure/core/logic/minikanren.clj", :column 1, :line 841, :arglists ([a f]), :doc "Positional factory function for class clojure.core.logic.minikanren.Choice."}