{:type :var, :src "(defprotocol IOccursCheckTerm\n  (occurs-check-term [v x s]))", :doc nil, :ns "clojure.core.logic.minikanren", :name "IOccursCheckTerm", :file "clojure/core/logic/minikanren.clj", :column 1, :line 37}