{:ns "clojure.core.logic.minikanren", :name "succeed", :file "clojure/core/logic/minikanren.clj", :type :fn, :src "(defn succeed [a]\n  \"A goal that always succeeds.\"\n  a)", :column 1, :line 894, :arglists ([a])}