{:ns "clojure.core.logic", :name "featurec", :file "clojure/core/logic.clj", :type :fn, :src "(defn featurec\n  \"Ensure that a map contains at least the key-value pairs\n  in the map fs. fs must be partially instantiated - that is, \n  it may contain values which are logic variables to support \n  feature extraction.\"\n  [x fs]\n  (cgoal (-featurec x (->feature fs))))", :column 1, :line 2666, :arglists ([x fs]), :doc "Ensure that a map contains at least the key-value pairs\n  in the map fs. fs must be partially instantiated - that is, \n  it may contain values which are logic variables to support \n  feature extraction."}