{:ns "clojure.core.logic", :name "distincto", :file "clojure/core/logic.clj", :type :fn, :src "(defne distincto\n  \"A relation which guarantees no element of l will unify\n   with another element of l.\"\n  [l]\n  ([()])\n  ([[h]])\n  ([[h0 h1 . t]]\n     (!= h0 h1)\n     (distincto (lcons h0 t))\n     (distincto (lcons h1 t))))", :column 1, :line 2591, :doc "A relation which guarantees no element of l will unify\n   with another element of l."}