{:ns "clojure.core.logic", :name "lvar", :file "clojure/core/logic.clj", :type :fn, :src "(defn ^LVar lvar\n  ([]\n     (let [name (str (. clojure.lang.RT (nextID)))]\n       (LVar. name (.hashCode name) nil {:name name})))\n  ([name]\n     (let [oname name\n           name (str name \"_\" (. clojure.lang.RT (nextID)))]\n       (LVar. name (.hashCode name) nil {:name oname})))\n  ([name cs]\n     (let [oname name\n           name (str name \"_\" (. clojure.lang.RT (nextID)))]\n       (LVar. name (.hashCode name) cs {:name oname}))))", :column 1, :line 302, :tag clojure.core.logic.LVar, :arglists ([] [name] [name cs])}