{:ns "clojure.core.logic.fd", :name "expand", :file "clojure/core/logic/fd.clj", :type :fn, :src "(defn expand [form]\n  (if (seq? form)\n    (let [[op & args] form]\n     (if (and (binops op) (core/> (count args) 2))\n       (list op (expand (first args))\n             (expand (cons op (rest args))))\n       (cons op (map expand args))))\n    form))", :column 1, :line 1140, :arglists ([form])}