{:ns "clojure.core.logic", :name "updatecg", :file "clojure/core/logic.clj", :type :fn, :src "(defn updatecg [c]\n  (fn [a]\n    (assoc a :cs (updatec (:cs a) a c))))", :column 1, :line 2017, :arglists ([c])}