{:ns "clojure.core.logic.fd", :name "distinct", :file "clojure/core/logic/fd.clj", :type :fn, :src "(defn distinct\n  \"A finite domain constraint that will guarantee that \n   all vars that occur in v* will be unified with unique \n   values. v* need not be ground. Any vars in v* should\n   eventually be given a domain.\"\n  [v*]\n  (cgoal (distinctc v*)))", :column 1, :line 1096, :arglists ([v*]), :doc "A finite domain constraint that will guarantee that \n   all vars that occur in v* will be unified with unique \n   values. v* need not be ground. Any vars in v* should\n   eventually be given a domain."}