{:type :var, :src "(defprotocol IConstraintOp\n  (rator [this])\n  (rands [this]))", :doc nil, :ns "clojure.core.logic.protocols", :name "IConstraintOp", :file "clojure/core/logic/protocols.clj", :column 1, :line 155}