{:ns "clojure.core.logic.fd", :name "*", :file "clojure/core/logic/fd.clj", :type :fn, :src "(defn *\n  \"A finite domain constraint for multiplication and\n   thus division. u, v & w must be eventually be given \n   domains if vars.\"\n  [u v w]\n  (cgoal (*c u v w)))", :column 1, :line 1001, :arglists ([u v w]), :doc "A finite domain constraint for multiplication and\n   thus division. u, v & w must be eventually be given \n   domains if vars."}