{:type :var, :src "(defprotocol IUnifyWithLSeq\n  (unify-with-lseq [v u s]))", :doc nil, :ns "clojure.core.logic.minikanren", :name "IUnifyWithLSeq", :file "clojure/core/logic/minikanren.clj", :column 1, :line 19}