{:ns "clojure.core.logic", :name "and*", :file "clojure/core/logic.clj", :type :fn, :src "(defn and*\n  \"A function version of all, which takes a list of goals and succeeds only fi they all succeed.\"\n  [goals]\n  (fn [a]\n    (reduce bind a goals)))", :column 1, :line 1273, :arglists ([goals]), :doc "A function version of all, which takes a list of goals and succeeds only fi they all succeed."}