{:ns "clojure.core.logic", :name "reifyg", :file "clojure/core/logic.clj", :type :fn, :src "(defn reifyg [x]\n  (all\n   (enforce-constraints x)\n   (fn [a]\n     (let [v (walk* a x)\n           r (-reify* (with-meta empty-s (meta a)) v)]\n       (if (zero? (count r))\n         (choice (list v) empty-f)\n         (let [v (walk* r v)]\n           (reify-constraints v r a)))))))", :column 1, :line 2283, :arglists ([x])}