{:ns "clojure.core.logic.nominal", :name "fresh", :file "clojure/core/logic/nominal.clj", :type :macro, :src "(defmacro fresh\n  \"Creates fresh noms. Goals occuring within form a logical conjunction.\"\n  [[& noms] & goals]\n  `(fn [a#]\n     (-inc\n      (let [~@(nom-binds noms)]\n        (bind* a# ~@goals)))))", :column 1, :line 120, :macro true, :arglists ([[& noms] & goals]), :doc "Creates fresh noms. Goals occuring within form a logical conjunction."}