{:ns "clojure.core.logic.minikanren", :name "exist", :file "clojure/core/logic/minikanren.clj", :type :macro, :src "(defmacro exist [[& lvars] & goals]\n  \"Creates fresh variables. Goals occuring within form a logical \n  conjunction.\"\n  `(fn [a#]\n     (inc\n      (let [~@(lvar-binds lvars)]\n        (bind* a# ~@goals)))))", :column 1, :line 935, :macro true, :arglists ([[& lvars] & goals])}