{:ns "clojure.core.logic.fd", :name "+", :file "clojure/core/logic/fd.clj", :type :fn, :src "(defn +\n  \"A finite domain constraint for addition and subtraction.\n   u, v & w must eventually be given domains if vars.\"\n  [u v w]\n  (cgoal (+c u v w)))", :column 1, :line 897, :arglists ([u v w]), :doc "A finite domain constraint for addition and subtraction.\n   u, v & w must eventually be given domains if vars."}