{:type :var, :src "(defprotocol ISubstitutions\n  (ext-no-check [this x v])\n  (walk [this x]))", :doc nil, :ns "clojure.core.logic.protocols", :name "ISubstitutions", :file "clojure/core/logic/protocols.clj", :column 1, :line 45}