{:ns "clojure.core.logic.nonrel", :name "cond-clauses", :file "clojure/core/logic/nonrel.clj", :type :fn, :src "(defn cond-clauses [a]\n  (fn [goals]\n    `((~(first goals) ~a) ~@(rest goals))))", :column 1, :line 108, :arglists ([a])}