{:ns "cljs.core.logic", :name "matchu", :file "cljs/core/logic.clj", :type :macro, :src "(defmacro matchu\n  \"Define a committed choice goal. See condu.\"\n  [xs & cs]\n  (binding [*locals* (env-locals xs (-> &env :locals keys))]\n    (handle-clauses `condu xs cs)))", :column 1, :line 449, :macro true, :arglists ([xs & cs]), :doc "Define a committed choice goal. See condu."}