{:ns "clojure.core.logic.prelude", :name "def-arity-exc-helper", :file "clojure/core/logic/prelude.clj", :type :macro, :src "(defmacro def-arity-exc-helper []\n  (try\n    (Class/forName \"clojure.lang.ArityException\")\n    `(defn arity-exc-helper [~'name ~'n]\n       (fn [~'& ~'args]\n         (throw (clojure.lang.ArityException. ~'n (str ~'name)))))\n    (catch java.lang.ClassNotFoundException e\n     `(defn ~'arity-exc-helper [~'name ~'n]\n        (fn [~'& ~'args]\n          (throw (java.lang.IllegalArgumentException.\n                  (str \"Wrong number of args (\" ~'n \") passed to:\" ~'name))))))))", :column 1, :line 90, :macro true, :arglists ([])}