{:ns "clojure.core.logic", :name "merge-doms", :file "clojure/core/logic.clj", :type :fn, :src "(defn merge-doms [s x doms]\n  (let [xdoms (:doms (root-val s x))]\n    (loop [doms (seq doms) s s]\n      (if doms\n        (let [[dom domv] (first doms)]\n          (let [xdomv (get xdoms dom ::not-found)\n                ndomv (if (= xdomv ::not-found)\n                        domv\n                        (-merge-doms domv xdomv))]\n            (when ndomv\n              (recur (next doms)\n                (add-dom s x dom ndomv #{})))))\n        s))))", :column 1, :line 533, :arglists ([s x doms])}