{:ns "clojure.core.logic.disequality", :name "!=", :file "clojure/core/logic/disequality.clj", :type :macro, :src "(defmacro != [u v]\n  \"Impose a disequality constraint on u and v. If the two\n  terms ever unify will result in failure. u and v can be\n  compound terms allowing complex conditions to require\n  failure.\"\n  `(fn [a#]\n     (!=-verify a# (unify a# ~u ~v))))", :column 1, :line 244, :macro true, :arglists ([u v])}