{:ns "clojure.core.logic.pldb", :name "db-fact", :file "clojure/core/logic/pldb.clj", :type :fn, :src "(defn db-fact [db rel & args]\n  (let [key\n        (rel-key rel)\n\n        add-to-set\n        (fn [current new]\n          (conj (or current #{}) new))\n\n        db-with-fact\n        (update-in db [key ::unindexed] #(add-to-set %1 args))\n\n        indexes-to-update ;; ugly - get the vector indexes of indexed attributes\n        (map vector (rel-indexes rel) (range) args)\n\n        update-index-fn\n        (fn [db [is-indexed index-num val]]\n          (if is-indexed\n            (update-in db [key index-num val] #(add-to-set %1 args))\n            db))]\n    (reduce update-index-fn db-with-fact indexes-to-update)))", :column 1, :line 79, :arglists ([db rel & args])}