{:ns "clojure.core.logic.protocols", :name "reifiable?", :file "clojure/core/logic/protocols.clj", :type :fn, :src "(defn reifiable? [x]\n  (instance? clojure.core.logic.protocols.IReifiableConstraint x))", :column 1, :line 180, :arglists ([x])}