{:ns "clojure.core.logic", :name "update-dom", :file "clojure/core/logic.clj", :type :fn, :src "(defn update-dom\n  ([s x dom f]\n     (let [x (root-var s x)]\n       (update-dom s x dom f nil)))\n  ([s x dom f seenset]\n     (let [v (root-val s x)\n           v (if (lvar? v)\n               (subst-val ::unbound)\n               v)\n           doms (:doms v)\n           s (update-var s x (assoc-dom v dom (f (get doms dom))))]\n       (sync-eset s v seenset\n         (fn [s y] (update-dom s y dom f (conj (or seenset #{}) x)))))))", :column 1, :line 473, :arglists ([s x dom f] [s x dom f seenset])}