{:ns "clojure.core.logic.prelude", :name "firsto", :file "clojure/core/logic/prelude.clj", :type :fn, :src "(defn firsto [l a]\n  (exist [d]\n    (conso a d l)))", :column 1, :line 21, :arglists ([l a])}