{:ns "clojure.core.logic", :name "defne", :file "clojure/core/logic.clj", :type :macro, :src "(defmacro defne\n  \"Define a goal fn. Supports pattern matching. All\n   patterns will be tried. See conde.\"\n  [& rest]\n  (apply defnm `conde rest))", :column 1, :line 1369, :macro true, :arglists ([& rest]), :doc "Define a goal fn. Supports pattern matching. All\n   patterns will be tried. See conde."}