{:ns "clojure.core.logic.match", :name "defnm", :file "clojure/core/logic/match.clj", :type :fn, :src "(defn defnm [t n as & cs]\n  (if-let [tabled? (-> n meta :tabled)]\n    `(def ~n\n          (clojure.core.logic.tabled/tabled [~@as]\n                               ~(handle-clauses t as cs)))\n    `(defn ~n [~@as]\n       ~(handle-clauses t as cs))))", :column 1, :line 96, :arglists ([t n as & cs])}