{:ns "clojure.core.logic.bench", :name "connected-to-allo", :file "clojure/core/logic/bench.clj", :type :fn, :src "(defne connected-to-allo\n  \"Ensure that vertex v is connected to all vertices\n   vs.\"\n  [v vs]\n  ([_ ()])\n  ([_ [vh . vr]]\n     (connected v vh)\n     (connected-to-allo v vr)))", :column 1, :line 126, :doc "Ensure that vertex v is connected to all vertices\n   vs."}