{:ns "clojure.core.logic", :name "lvaro", :file "clojure/core/logic.clj", :type :macro, :src "(defmacro lvaro\n  \"Goal to test whether a logic var is ground. Non-relational.\"\n  [v]\n  `(fn [a#]\n     (if (lvar? (walk a# ~v))\n       a# nil)))", :column 1, :line 1382, :macro true, :arglists ([v]), :doc "Goal to test whether a logic var is ground. Non-relational."}