{:ns "clojure.core.logic.bench", :name "print-solution", :file "clojure/core/logic/bench.clj", :type :fn, :src "(defn print-solution [vars]\n  (doseq [row-group (->> vars\n                        (partition 9)\n                        (partition 3)\n                        (interpose \"\\n\\n\"))]\n    (if-not (string? row-group)\n      (doseq [row (interpose \"\\n\" row-group)]\n        (if-not (string? row)\n          (doseq [x (->> row\n                         (partition 3)\n                         (map #(interpose \" \" %))\n                         (interpose \"  \"))]\n            (print (apply str x)))\n          (print row)))\n      (print row-group)))\n  (println) (println))", :column 1, :line 667, :arglists ([vars])}