{:ns "clojure.core.logic", :name "unify-with-sequential*", :file "clojure/core/logic.clj", :type :fn, :src "(defn unify-with-sequential* [u v s]\n  (cond\n    (sequential? v)\n    (if (and (counted? u) (counted? v)\n          (not= (count u) (count v)))\n      nil\n      (loop [u u v v s s]\n        (if (seq u)\n          (if (seq v)\n            (if-let [s (unify s (first u) (first v))]\n              (recur (next u) (next v) s)\n              nil)\n            nil)\n          (if (seq v) nil s))))\n    \n    (lcons? v) (unify-terms v u s)\n    :else nil))", :column 1, :line 869, :arglists ([u v s])}