{:ns "clojure.core.logic", :name "constraint-verify-simple", :file "clojure/core/logic.clj", :type :fn, :src "(defn ^Substitutions constraint-verify-simple [^Substitutions s u v]\n  (let [uc (set (map #(walk s %) (constraints u)))]\n    (if (contains? uc v)\n      nil\n      (let [u (remove-constraints u)\n            v (if (lvar? v) (add-constraints v uc) v)]\n        (make-s (-> (.s s) (dissoc u) (assoc u v))\n                (cons (pair u v) (.l s))\n                constraint-verify\n                (.cs s))))))", :column 1, :line 1806, :tag clojure.core.logic.Substitutions, :arglists ([s u v])}