{:ns "clojure.core.logic", :name "constraint-verify", :file "clojure/core/logic.clj", :type :fn, :src "(defn ^Substitutions constraint-verify [^Substitutions s u v]\n  (when-let [s (constraint-verify-simple s u v)]\n    (if-let [cs (.cs s)]\n      (let [cs (propagate cs s u v)\n            ^Substitutions s (reduce (fn [s [u c]]\n                                       (constrain s u c))\n                                     s (get-simplified cs))\n            s (make-s (.s s) (.l s)\n                      constraint-verify (discard-simplified cs))]\n        (constraint-verify-simple s (get-var s u) v))\n      s)))", :column 1, :line 1882, :tag clojure.core.logic.Substitutions, :arglists ([s u v])}