{:type :var, :src "(defprotocol IDisunifyTerms\n  (-disunify-terms [u v s cs]))", :doc nil, :ns "clojure.core.logic.protocols", :name "IDisunifyTerms", :file "clojure/core/logic/protocols.clj", :column 1, :line 207}