{:ns "clojure.core.logic.match", :name "ex", :file "clojure/core/logic/match.clj", :type :fn, :src "(defn ex\n  ([vs t a]\n     `(exist [~@vs]\n        (== ~t ~a)))\n  ([vs t a exprs]\n     (if (exist? exprs)\n       `(exist [~@vs]\n          (== ~t ~a)\n          ~exprs)\n       `(exist [~@vs]\n          (== ~t ~a)\n          ~@exprs))))", :column 1, :line 43, :arglists ([vs t a] [vs t a exprs])}