{:ns "clojure.core.logic", :name "disunify", :file "clojure/core/logic.clj", :type :fn, :src "(defn disunify\n  ([s u v] (disunify s u v {:prefixc {}}))\n  ([s u v cs]\n     (if (identical? u v)\n       cs\n       (let [u (walk s u)\n             v (walk s v)]\n         (if (identical? u v)\n           cs\n           (if (and (not (lvar? u)) (lvar? v))\n             (disunify-terms v u s cs)\n             (disunify-terms u v s cs)))))))", :column 1, :line 2392, :arglists ([s u v] [s u v cs])}