{:ns "clojure.core.logic.dcg", :name "count-clauses", :file "clojure/core/logic/dcg.clj", :type :fn, :src "(defn count-clauses [clauses]\n  (if (fresh-expr? clauses)\n    (count-clauses (drop 2 clauses))\n    (reduce (fn [s c]\n              (cond\n               (fresh-expr? c) (+ s (count-clauses (drop 2 c)))\n               (!dcg? c) s\n               :else (clojure.core/inc s)))\n            0 clauses)))", :column 1, :line 38, :arglists ([clauses])}