{:ns "clojure.core.logic", :name "verify-all-bound", :file "clojure/core/logic.clj", :type :fn, :src "(defn verify-all-bound [a constrained]\n  (letfn [(verify-all-bound* [a constrained]\n            (when constrained\n              (let [x (first constrained)]\n                (if (and (lvar? x)\n                         (and (lvar? (walk a x))\n                              (nil? (get-dom a x ::fd))))\n                  (throw (Exception. (str \"Constrained variable \" x \" without domain\")))\n                  (recur a (next constrained))))))]\n    (verify-all-bound* a (seq constrained))))", :column 1, :line 2231, :arglists ([a constrained])}