{:ns "clojure.core.logic", :name "nonlvaro", :file "clojure/core/logic.clj", :type :macro, :src "(defmacro nonlvaro\n  \"A goal that succeeds if the argument is not fresh. v must be a\n  logic variable. Non-relational.\"\n  [v]\n  `(fn [a#]\n     (if (not (lvar? (walk a# ~v)))\n       a# nil)))", :column 1, :line 1428, :macro true, :arglists ([v]), :doc "A goal that succeeds if the argument is not fresh. v must be a\n  logic variable. Non-relational."}