{:ns "clojure.core.logic.nonrel", :name "nonlvaro", :file "clojure/core/logic/nonrel.clj", :type :macro, :src "(defmacro nonlvaro [v]\n  `(fn [a#]\n     (if (not (lvar? (walk a# ~v)))\n       a# nil)))", :column 1, :line 137, :macro true, :arglists ([v])}