{:ns "clojure.core.logic", :name "fne", :file "clojure/core/logic.clj", :type :macro, :src "(defmacro fne\n  \"Define an anonymous goal fn. Supports pattern matching. All\n   patterns will be tried. See conde.\"\n  [& rest]\n  `(fnm conde ~@rest))", :column 1, :line 1672, :macro true, :arglists ([& rest]), :doc "Define an anonymous goal fn. Supports pattern matching. All\n   patterns will be tried. See conde."}