{:ns "clojure.core.logic.match", :name "p->term", :file "clojure/core/logic/match.clj", :type :fn, :src "(defn p->term [p]\n  (cond\n   (= p '_) `(lvar)\n   (lcons-p? p) (p->llist p)\n   (and (coll? p)\n        (not= (first p) 'quote)) (cond\n                                  (list? p) p\n                                  :else `[~@(map p->term p)])\n   :else p))", :column 1, :line 18, :arglists ([p])}