{:ns "cljs.core.logic.macros", :name "p->term", :file "cljs/core/logic/macros.clj", :type :fn, :src "(defn p->term [p]\n  (cond\n   (= p '_) `(cljs.core.logic/lvar)\n   (lcons-p? p) (p->llist p)\n   (and (coll? p)\n        (not= (first p) 'quote)) (cond\n                                  (list? p) p\n                                  :else `[~@(map p->term p)])\n   :else p))", :column 1, :line 240, :arglists ([p])}