{:ns "cljs.core.logic", :name "cond-clauses", :file "cljs/core/logic.clj", :type :fn, :src "(defn cond-clauses [a]\n  (fn [goals]\n    `((~(first goals) ~a) ~@(rest goals))))", :column 1, :line 210, :arglists ([a])}