{:type :fn, :src "(defrecord PMap []\n  INonStorable\n\n  IUnifyTerms\n  (unify-terms [u v s]\n    (if (map? v)\n      (unify-with-pmap* u v s)\n      nil))\n\n  IUnifyWithRecord\n  (unify-with-record [u v s]\n    (if (map? v)\n      (unify-with-pmap* u v s)\n      nil))\n\n  IUninitialized\n  (-uninitialized [_] (PMap.)))", :ns "clojure.core.logic", :name "map->PMap", :file "clojure/core/logic.clj", :column 1, :line 2497, :arglists ([m__6206__auto__]), :doc "Factory function for class clojure.core.logic.PMap, taking a map of keywords to field values."}