{:ns "clojure.core.logic.fd", :name "process-dom", :file "clojure/core/logic/fd.clj", :type :fn, :src "(defn process-dom\n  \"If x is a var we update its domain. If it's an integer\n   we check that it's a member of the given domain.\"\n  [x dom]\n  (fn [a]\n    (when dom\n      (cond\n       (lvar? x) (update-var-dom a x dom)\n       (member? dom x) a\n       :else nil))))", :column 1, :line 641, :arglists ([x dom]), :doc "If x is a var we update its domain. If it's an integer\n   we check that it's a member of the given domain."}