{:ns "clojure.core.logic", :name "-inc", :file "clojure/core/logic.clj", :type :macro, :src "(defmacro -inc [& rest]\n  `(fn -inc [] ~@rest))", :column 1, :line 1049, :macro true, :arglists ([& rest])}