{:ns "clojure.core.logic", :name "lvar", :file "clojure/core/logic.clj", :type :fn, :src "(defn lvar\n  ([]\n     (let [name (str (. clojure.lang.RT (nextID)))]\n       (LVar. name nil (.hashCode name) nil)))\n  ([name]\n     (lvar name true))\n  ([name gensym]\n     (let [oname name\n           name (if gensym\n                  (str name (. clojure.lang.RT (nextID)))\n                  (str name))]\n       (LVar. name oname (.hashCode name) nil))))", :column 1, :line 676, :arglists ([] [name] [name gensym])}