{:ns "clojure.core.logic", :name "!=", :file "clojure/core/logic.clj", :type :fn, :src "(defn !=\n  \"Disequality constraint. Ensures that u and v will never\n   unify. u and v can be complex terms.\"\n  [u v]\n  (fn [a]\n    (let [cs (disunify a u v)]\n      (if-not (nil? cs)\n        (let [p (:prefixc cs)]\n          (when-not (empty? p)\n            (if  (some (fn [[u v]] (nil? (unify a u v))) p)\n              a\n              ((cgoal (!=c p)) a))))\n        a))))", :column 1, :line 2390, :arglists ([u v]), :doc "Disequality constraint. Ensures that u and v will never\n   unify. u and v can be complex terms."}