{:ns "cljs.core.logic.macros", :name "mplus*", :file "cljs/core/logic/macros.clj", :type :macro, :src "(defmacro mplus*\n  ([e] e)\n  ([e & e-rest]\n     `(cljs.core.logic/-mplus ~e (fn [] (mplus* ~@e-rest)))))", :column 1, :line 32, :macro true, :arglists ([e] [e & e-rest])}