{:ns "clojure.core.logic", :name "enforceable-constrained", :file "clojure/core/logic.clj", :type :fn, :src "(defn enforceable-constrained [a]\n  (let [cs (:cs a)\n        km (:km cs)\n        cm (:cm cs)\n        vs (keys km)]\n    (filter (fn [v]\n              (some (fn [cid]\n                      (when-let [c (get cm cid)]\n                        (enforceable? c)))\n                    (get km v)))\n            vs)))", :column 1, :line 2242, :arglists ([a])}