{:ns "clojure.core.logic.fd", :name "binops->fd", :file "clojure/core/logic/fd.clj", :type :var, :src "(def binops->fd\n  '{+  clojure.core.logic.fd/+\n    -  clojure.core.logic.fd/-\n    *  clojure.core.logic.fd/*\n    /  clojure.core.logic.fd/quot\n    =  clojure.core.logic.fd/==\n    != clojure.core.logic.fd/!=\n    <= clojure.core.logic.fd/<=\n    <  clojure.core.logic.fd/<\n    >= clojure.core.logic.fd/>=\n    >  clojure.core.logic.fd/>})", :column 1, :line 1096}