{:ns "clojure.core.logic.disequality", :name "constraint?", :file "clojure/core/logic/disequality.clj", :type :fn, :src "(defn constraint? [x]\n  (instance? Constraint x))", :column 1, :line 132, :arglists ([x])}