{:ns "clojure.core.logic", :name "choice", :file "clojure/core/logic.clj", :type :fn, :src "(defn ^Choice choice [a f]\n  (Choice. a f))", :column 1, :line 791, :tag clojure.core.logic.Choice, :arglists ([a f])}