{:ns "clojure.core.logic.unify", :name "binding-map", :file "clojure/core/logic/unify.clj", :type :fn, :src "(defn binding-map [u w]\n  \"Return the binding map that unifies terms u and w.\n  Will prep the terms.\"\n  {:pre [(not (mk/lcons? u))\n         (not (mk/lcons? w))]}\n  (let [up (prep u)\n        wp (prep w)]\n    (binding-map* up wp)))", :column 1, :line 86, :arglists ([u w])}