{:ns "clojure.core.logic.tabled", :name "tabled", :file "clojure/core/logic/tabled.clj", :type :macro, :src "(defmacro tabled [args & grest]\n  `(let [table# (atom {})]\n     (fn [~@args]\n       (let [argv# ~args]\n         (fn [a#]\n           (let [key# (reify a# argv#)\n                 cache# (get @table# key#)]\n             (if (nil? cache#)\n               (let [cache# (atom ())]\n                 (swap! table# assoc key# cache#)\n                 ((exist []\n                    ~@grest\n                    (master argv# cache#)) a#))\n               (reuse a# argv# cache# nil nil))))))))", :column 1, :line 160, :macro true, :arglists ([args & grest])}