{:ns "clojure.core.logic", :name "force-ans", :file "clojure/core/logic.clj", :type :fn, :src "(defn force-ans [x]\n  (fn [a]\n    ((let [v (walk a x)]\n       (if (lvar? v)\n         (-force-ans (get-dom-fd a x) v)\n         (let [x (root-var a x)]\n           (if (sequential? v)\n             (-force-ans (sort-by-strategy v x a) x)\n             (-force-ans v x))))) a)))", :column 1, :line 2273, :arglists ([x])}