{:ns "clojure.core.logic", :name "unify*", :file "clojure/core/logic.clj", :type :fn, :src "(defn unify* [^Substitutions s m]\n  (loop [[[u v :as p] & r] (seq m) result {}]\n    (let [^Substitutions sp (unify s u v)]\n      (cond\n       (nil? p) result\n       (not sp) nil\n       (identical? s sp) (recur r result)\n       :else (recur r\n                    (conj result\n                          (first (prefix (.l sp) (.l s)))))))))", :column 1, :line 1895, :arglists ([s m])}