{:ns "clojure.core.logic.fd", :name "interval", :file "clojure/core/logic/fd.clj", :type :fn, :src "(defn interval\n  \"Construct an interval for an assignment to a var. intervals may\n   be more efficient that the domain type when the range of possiblities\n   is large.\"\n  ([ub] (interval 0 ub))\n  ([lb ub]\n   (let [lb (if (neg? lb) 0 lb)\n         ub (if (neg? ub) 0 ub)]\n     (cond\n      (zero? (core/- ub lb)) ub\n      :else (IntervalFD. lb ub)))))", :column 1, :line 357, :arglists ([ub] [lb ub]), :doc "Construct an interval for an assignment to a var. intervals may\n   be more efficient that the domain type when the range of possiblities\n   is large."}