{:ns "clojure.core.logic", :name "==", :file "clojure/core/logic.clj", :type :fn, :src "(defn ==\n  \"A goal that attempts to unify terms u and v.\"\n  [u v]\n  (fn [a]\n    (let [has-cs? (pos? (count (:cs a)))]\n      (let [ap (unify (if has-cs? (assoc a :vs []) a) u v)\n            vs (if has-cs? (:vs ap))\n            changed? (pos? (count vs))]\n        (if changed?\n          ((run-constraints* vs (:cs ap) ::subst) (assoc ap :vs nil))\n          ap)))))", :column 1, :line 1124, :arglists ([u v]), :doc "A goal that attempts to unify terms u and v."}