{:ns "clojure.core.logic.bench", :name "resto", :file "clojure/core/logic/bench.clj", :type :fn, :src "(defn resto [l d]\n  (exist [a]\n    (== (lcons a d) l)))", :column 1, :line 81, :arglists ([l d])}