{:ns "clojure.core.logic", :name "run*", :file "clojure/core/logic.clj", :type :macro, :src "(defmacro run* [& goals]\n  \"Executes goals until results are exhausted.\"\n  `(run false ~@goals))", :column 1, :line 953, :macro true, :arglists ([& goals])}