{:ns "clojure.core.logic.fd", :name "dom", :file "clojure/core/logic/fd.clj", :type :fn, :src "(defn dom\n  \"Assign a var x a domain.\"\n  [x dom]\n  (fn [a]\n    (let [domp (get-dom a x)\n          dom  (if domp\n                 (-intersection dom domp)\n                 dom)]\n      ((composeg\n         (process-dom x dom domp)\n         (if (and (nil? domp)\n                  (not (singleton-dom? dom)))\n           (domc x)\n           identity)) a))))", :column 1, :line 628, :arglists ([x dom]), :doc "Assign a var x a domain."}