{:ns "clojure.core.logic.bench", :name "cryptarithfd-2", :file "clojure/core/logic/bench.clj", :type :fn, :src "(defn cryptarithfd-2 []\n  (run-nc* [d o n a l g e r b t :as q]\n    (distribute q ::l/ff)\n    (fd/in d o n a l g e r b t (fd/interval 0 9))\n    (fd/distinct q)\n    (fd/eq\n     (= (+ (* 100000 d) (* 10000 o) (* 1000 n) (* 100 a) (* 10 l) d\n           (* 100000 g) (* 10000 e) (* 1000 r) (* 100 a) (* 10 l) d)\n        (+ (* 100000 r) (* 10000 o) (* 1000 b) (* 100 e) (* 10 r) t)))))", :column 1, :line 329, :arglists ([])}