{:ns "clojure.core.logic.minikanren", :name "fail", :file "clojure/core/logic/minikanren.clj", :type :fn, :src "(defn fail [a] \n  \"A goal that always fails.\"\n  nil)", :column 1, :line 898, :arglists ([a])}